In [28]:
import pandas as pd
albums = pd.read_csv("./data/spotify_albums.csv", header=0)
artists = pd.read_csv("./data/spotify_artists.csv", header=0)
tracks = pd.read_csv("./data/spotify_tracks.csv", header=0)

In [77]:
# 1. For each dataset, profile the data using head(), tail(), and .shape. Write a comment for each one, briefly explaining what this technique does, and what the output you got tells you about the dataset.

albums.head()
## Gives me the first few rows and all columns in a dataframe. Contains album information, like date released, album name and multiple ids. Some links to spotify. 'genres' at row 1 is an empty list string. 'Row 0' 'album_type' listed as a single though its 'total_tracks' column is 6. Has an 'Unnamed:0' column that may need to be removed.
albums.tail()
## Gives me the last few rows of the dataset and all columns. I see row '75509' columns' 'release_date' doesn't have a precise date and so 'release_date_precision's' value is changed to year.
albums.shape
## Returns a tuple telling me that there are 75511 rows and 16 columns in the 'albums' dataset


artists.head()
## Gives me the first few rows of a dataset. Row 1's 'genres' column is missing a value. Has an 'Unnamed:0' column.
artists.tail()
## Gives me the last few rows of a dataset. No missing values. Not sure if the 'artist_popularity' correlates with the values in 'followers'
artists.shape
## There are 56129 rows and 9 columns in this dataset


tracks.head()
## Returns the first few rows of the 'tracks' dataset and not all columns are displayed. Has multiple datatypes and an 'Unnamed:0' column.
tracks.tail()
## Displays the last few rows of the 'tracks' dataset.
tracks.shape
## Tells me that there are 101939 rows and 32 columns in the 'tracks' dataset

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
0,0,44,23230,"['sertanejo', 'sertanejo pop', 'sertanejo trad...",4mGnpjhqgx4RUdsIJiURdo,Juliano Cezar,0wmDmAILuW9e2aRttkl4aC,track_9,artist
1,1,22,313,[],1dLnVku4VQUOLswwDFvRc9,The Grenadines,4wqwj0gA8qPZKLl5WVqXml,track_30,artist
2,2,26,1596,['danish pop rock'],6YVY310fjfUzKi8hiqR7iK,Gangway,1bFqWDbvHmZe2f4Nf9qaD8,track_38,artist
3,3,31,149,['uk alternative pop'],2VElyouiCfoYPDJluzwJwK,FADES,3MFSUBAidPzRBbIS7BDj1S,track_34,artist
4,4,21,11,['french baroque'],4agVy03qW8juSysCTUOuDI,Jean-Pierre Guignon,2r3q57FhxdsCyYr0kuDq4b,track_26,artist

In [52]:
# 2. For Albums, use .loc to show just rows 10-20 of the 'name' and 'release_date' columns
albums.loc[10:20, ["name", "release_date"]]

                                                 name release_date
10  Beethoven: 6 Bagatelles & Piano Sonatas Nos. 3...   2019-03-01
11                                Au Long de la Loire   2019-03-01
12                                     I Still Miss U   2019-03-15
13                                     Kolmekymppinen         1980
14                                              Bruja   2018-04-24
15                            Sonatas for two violins   2019-03-01
16                                            Sirènes   2019-03-01
17                                       Light of Day   2019-03-01
18                                   Madame del Campo   2015-08-03
19  Beethoven: Piano Concerto No. 2 & Triple Conce...   2019-03-01
20                                      Violinsonaten   2019-03-01

In [163]:
# Checking dataframes for duplicate rows

albums.shape
albums.drop_duplicates().shape
# Used .shape to check 'albums' for any removed duplicate rows after drop_duplicates(). No duplicates found

artists.shape
artists.drop_duplicates().shape
# Used .shape to check 'artists' for any removed duplicate rows after drop_duplicates(). No duplicates found

tracks.shape
tracks.drop_duplicates().shape
# Used .shape to check 'tracks' for any removed duplicate rows after drop_duplicates(). No duplicates found

# def check_empty(column):  ## This syntax did not work
#     for value in column:  ## Incorrect because .map already loops this function, and I'm looping deeper?
        # if value == "[]":
        #     value = "NaN"
        #     return value

## Map function to look for empty lists in 'genres' column of 'artists' dataset
def check_empty(value):
    if value == "[]":
        value = "NaN" 
        return value
## NEED else statement to tell function what to do (leave non-matching values alone) if value is not "[]", otherwise all non-matching values will be "None"
    else:               
        return value

genres = artists["genres"]
genres = genres.map(check_empty) ## update genres value with map function
genres

## Print the names of each column of the 'tracks' dataset
# for col in tracks.columns:
#     print(col)
## 'Lyrics' columns are difficult to read because of the carriage_returns(?) and newlines
# print(tracks.lyrics)
# tracks.drop(columns="lyrics", inplace=True)
# print(tracks.lyrics) ## Question: lyrics column no longer exists, even above the line where I dropped it?

AttributeError: 'DataFrame' object has no attribute 'lyrics'

In [174]:
## Joins

# artists.artist_id  ## checking if 'artists' has 'artist_id' column
albums.artist_id ## checking if 'albums' has 'artist_id' column
artists["artist_id"] = "" ## creating column for 'artists'
artists.artist_id ## validating that new column exists
left_join = artists.join(albums.set_index("artist_id"), how="left", on="artist_id")

ValueError: columns overlap but no suffix specified: Index(['Unnamed: 0', 'id', 'name', 'track_id', 'track_name_prev', 'type'], dtype='object')