In [1]:
import pandas as pd
albums = pd.read_csv("./data/spotify_albums.csv", header=0)
artists = pd.read_csv("./data/spotify_artists.csv", header=0)
tracks = pd.read_csv("./data/spotify_tracks.csv", header=0)

In [2]:
# 1. For each dataset, profile the data using head(), tail(), and .shape. Write a comment for each one, briefly explaining what this technique does, and what the output you got tells you about the dataset.

albums.head()
## Gives me the first few rows and all columns in a dataframe. Contains album information, like date released, album name and multiple ids. Some links to spotify. 'genres' at row 1 is an empty list string. 'Row 0' 'album_type' listed as a single though its 'total_tracks' column is 6. Has an 'Unnamed:0' column that may need to be removed.
albums.tail()
## Gives me the last few rows of the dataset and all columns. I see row '75509' columns' 'release_date' doesn't have a precise date and so 'release_date_precision's' value is changed to year.
albums.shape
## Returns a tuple telling me that there are 75511 rows and 16 columns in the 'albums' dataset


artists.head()
## Gives me the first few rows of a dataset. Row 1's 'genres' column is missing a value. Has an 'Unnamed:0' column.
# artists.tail()
## Gives me the last few rows of a dataset. No missing values. Not sure if the 'artist_popularity' correlates with the values in 'followers'
# artists.shape
## There are 56129 rows and 9 columns in this dataset


# tracks.head()
## Returns the first few rows of the 'tracks' dataset and not all columns are displayed. Has multiple datatypes and an 'Unnamed:0' column.
# tracks.tail()
## Displays the last few rows of the 'tracks' dataset.
# tracks.shape
## Tells me that there are 101939 rows and 32 columns in the 'tracks' dataset

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
0,0,44,23230,"['sertanejo', 'sertanejo pop', 'sertanejo trad...",4mGnpjhqgx4RUdsIJiURdo,Juliano Cezar,0wmDmAILuW9e2aRttkl4aC,track_9,artist
1,1,22,313,[],1dLnVku4VQUOLswwDFvRc9,The Grenadines,4wqwj0gA8qPZKLl5WVqXml,track_30,artist
2,2,26,1596,['danish pop rock'],6YVY310fjfUzKi8hiqR7iK,Gangway,1bFqWDbvHmZe2f4Nf9qaD8,track_38,artist
3,3,31,149,['uk alternative pop'],2VElyouiCfoYPDJluzwJwK,FADES,3MFSUBAidPzRBbIS7BDj1S,track_34,artist
4,4,21,11,['french baroque'],4agVy03qW8juSysCTUOuDI,Jean-Pierre Guignon,2r3q57FhxdsCyYr0kuDq4b,track_26,artist

In [3]:
# 2. For Albums, use .loc to show just rows 10-20 of the 'name' and 'release_date' columns
albums.loc[10:20, ["name", "release_date"]]

                                                 name release_date
10  Beethoven: 6 Bagatelles & Piano Sonatas Nos. 3...   2019-03-01
11                                Au Long de la Loire   2019-03-01
12                                     I Still Miss U   2019-03-15
13                                     Kolmekymppinen         1980
14                                              Bruja   2018-04-24
15                            Sonatas for two violins   2019-03-01
16                                            Sirènes   2019-03-01
17                                       Light of Day   2019-03-01
18                                   Madame del Campo   2015-08-03
19  Beethoven: Piano Concerto No. 2 & Triple Conce...   2019-03-01
20                                      Violinsonaten   2019-03-01

In [4]:
# Checking dataframes for duplicate rows

albums.shape
albums.drop_duplicates().shape
# Used .shape to check 'albums' for any removed duplicate rows after drop_duplicates(). No duplicates found

artists.shape
artists.drop_duplicates().shape
# Used .shape to check 'artists' for any removed duplicate rows after drop_duplicates(). No duplicates found

tracks.shape
tracks.drop_duplicates().shape
# Used .shape to check 'tracks' for any removed duplicate rows after drop_duplicates(). No duplicates found

# def check_empty(column):  ## This syntax did not work
#     for value in column:  ## Incorrect because .map already loops this function, and I'm looping deeper?
        # if value == "[]":
        #     value = "NaN"
        #     return value

## Map function to look for empty lists in 'genres' column of 'artists' dataset
def check_empty(value):
    if value == "[]":
        value = "NaN" 
        return value
## NEED else statement to tell function what to do (leave non-matching values alone) if value is not "[]", otherwise all non-matching values will be "None"
    else:               
        return value

genres = artists["genres"]
genres = genres.map(check_empty) ## update genres value with map function
genres

## Print the names of each column of the 'tracks' dataset
# for col in tracks.columns:
#     print(col)
## 'Lyrics' columns are difficult to read because of the carriage_returns(?) and newlines
print(tracks.columns)
# tracks.drop(columns="lyrics", inplace=True)
print(tracks.columns) ## Question: lyrics column no longer exists, even above the line where I dropped it?

Index(['Unnamed: 0', 'acousticness', 'album_id', 'analysis_url', 'artists_id',
       'available_markets', 'country', 'danceability', 'disc_number',
       'duration_ms', 'energy', 'href', 'id', 'instrumentalness', 'key',
       'liveness', 'loudness', 'lyrics', 'mode', 'name', 'playlist',
       'popularity', 'preview_url', 'speechiness', 'tempo', 'time_signature',
       'track_href', 'track_name_prev', 'track_number', 'uri', 'valence',
       'type'],
      dtype='object')
Index(['Unnamed: 0', 'acousticness', 'album_id', 'analysis_url', 'artists_id',
       'available_markets', 'country', 'danceability', 'disc_number',
       'duration_ms', 'energy', 'href', 'id', 'instrumentalness', 'key',
       'liveness', 'loudness', 'lyrics', 'mode', 'name', 'playlist',
       'popularity', 'preview_url', 'speechiness', 'tempo', 'time_signature',
       'track_href', 'track_name_prev', 'track_number', 'uri', 'valence',
       'type'],
      dtype='object')

In [80]:
artists.columns
albums.shape

(75511, 16)

In [84]:
## Joins

artistalb_merge = pd.merge(artists, albums, how="left", left_on="id", right_on="artist_id") ## I chose this merge because it the artist dataframe's 'id' column has the same values as the 'artist_id' column in the albums dataframe. The Artists are now grouped together with all of their listed albums.
print(artistalb_merge.head())
print(artistalb_merge.shape)
# albums.columns
# tracks.name
# albums.name
track_alb_merge = pd.merge(tracks, albums, how="left", left_on="album_id", right_on="id") ## This merge a gives a track a corresponding album 'name' from albums to go with it
print(track_alb_merge.head())
print(track_alb_merge.shape)

   Unnamed: 0_x  artist_popularity  followers  \
0             0                 44      23230
1             0                 44      23230
2             1                 22        313
3             2                 26       1596
4             3                 31        149

                                              genres                    id_x  \
0  ['sertanejo', 'sertanejo pop', 'sertanejo trad...  4mGnpjhqgx4RUdsIJiURdo
1  ['sertanejo', 'sertanejo pop', 'sertanejo trad...  4mGnpjhqgx4RUdsIJiURdo
2                                                 []  1dLnVku4VQUOLswwDFvRc9
3                                ['danish pop rock']  6YVY310fjfUzKi8hiqR7iK
4                             ['uk alternative pop']  2VElyouiCfoYPDJluzwJwK

           name_x              track_id_x track_name_prev_x  type_x  \
0   Juliano Cezar  0wmDmAILuW9e2aRttkl4aC           track_9  artist
1   Juliano Cezar  0wmDmAILuW9e2aRttkl4aC           track_9  artist
2  The Grenadines  4wqwj0gA8qPZKLl5WVqXml          track_30  artist
3         Gangway  1bFqWDbvHmZe2f4Nf9qaD8          track_38  artist
4           FADES  3MFSUBAidPzRBbIS7BDj1S          track_34  artist

   Unnamed: 0_y  ...                    id_y  \
0          50.0  ...  2tx2zEr2JUKhDqnRlWQdzR
1        4798.0  ...  2zmd7Bn7in6CrgdHpFvU0b
2        3680.0  ...  5YEORJnaovJcPqKNhlIQlx
3         157.0  ...  65CsTqUbM5RH0jFRZdIygK
4        4779.0  ...  7Jbgxp7IqL09ODxOPYJJkv

                                              images  \
0  [{'height': 640, 'url': 'https://i.scdn.co/ima...
1  [{'height': 640, 'url': 'https://i.scdn.co/ima...
2  [{'height': 640, 'url': 'https://i.scdn.co/ima...
3  [{'height': 640, 'url': 'https://i.scdn.co/ima...
4  [{'height': 640, 'url': 'https://i.scdn.co/ima...

                      name_y release_date release_date_precision total_tracks  \
0   É Isso Que A Galera Quer   2006-09-01                    day         15.0
1  Sucessos de Juliano Cézar   2013-08-01                    day         15.0
2          Band on the Radio   2018-11-16                    day         10.0
3           Happy Ever After   1992-09-17                    day         12.0
4                     Wasted   2019-02-22                    day          1.0

               track_id_y track_name_prev_y  \
0  5CJ8U9o3Ke5wmUEt37hBGQ          track_19
1  0wmDmAILuW9e2aRttkl4aC          track_14
2  4wqwj0gA8qPZKLl5WVqXml          track_28
3  1bFqWDbvHmZe2f4Nf9qaD8          track_36
4  3MFSUBAidPzRBbIS7BDj1S          track_37

                                    uri type_y
0  spotify:album:2tx2zEr2JUKhDqnRlWQdzR  album
1  spotify:album:2zmd7Bn7in6CrgdHpFvU0b  album
2  spotify:album:5YEORJnaovJcPqKNhlIQlx  album
3  spotify:album:65CsTqUbM5RH0jFRZdIygK  album
4  spotify:album:7Jbgxp7IqL09ODxOPYJJkv  album

[5 rows x 25 columns]
(92519, 25)
   Unnamed: 0_x  acousticness                album_id  \
0             0         0.294  0D3QufeCudpQANOR7luqdr
1             1         0.863  1bcqsH5UyTBzmh9YizdsBE
2             2         0.750  4tKijjmxGClg4JOLAyo2qE
3             3         0.763  6FeJF5r8roonnKraJxr4oB
4             4         0.770  4tKijjmxGClg4JOLAyo2qE

                                        analysis_url  \
0  https://api.spotify.com/v1/audio-analysis/5qlj...
1  https://api.spotify.com/v1/audio-analysis/3VAX...
2  https://api.spotify.com/v1/audio-analysis/1L3Y...
3  https://api.spotify.com/v1/audio-analysis/6aCe...
4  https://api.spotify.com/v1/audio-analysis/1Vo8...

                   artists_id  \
0  ['3mxJuHRn2ZWD5OofvJtDZY']
1  ['4xWMewm6CYMstu0sPgd9jJ']
2  ['3hYaK5FF3YAglCj5HZgBnP']
3  ['2KQsUB9DRBcJk17JWX1eXD']
4  ['3hYaK5FF3YAglCj5HZgBnP']

                                 available_markets_x country  danceability  \
0  ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...      BE         0.698
1  ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...      BE         0.719
2                                             ['GB']      BE         0.466
3  ['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...      BE         0.719
4                                             ['GB']      BE         0.460

   disc_number  duration_ms  ...                    id_y  \
0          1.0     235584.0  ...  0D3QufeCudpQANOR7luqdr
1          1.0     656960.0  ...  1bcqsH5UyTBzmh9YizdsBE
2          1.0     492840.0  ...  4tKijjmxGClg4JOLAyo2qE
3          1.0     316578.0  ...  6FeJF5r8roonnKraJxr4oB
4          1.0     558880.0  ...  4tKijjmxGClg4JOLAyo2qE

                                              images  \
0  [{'height': 600, 'url': 'https://i.scdn.co/ima...
1  [{'height': 640, 'url': 'https://i.scdn.co/ima...
2  [{'height': 600, 'url': 'https://i.scdn.co/ima...
3  [{'height': 640, 'url': 'https://i.scdn.co/ima...
4  [{'height': 600, 'url': 'https://i.scdn.co/ima...

                               name_y  release_date  release_date_precision  \
0                               Blood    2018-05-18                     day
1          Storytime Classics, Vol. 2    2011-03-01                     day
2                            Comedian    2008-12-15                     day
3  The Classic Short Story Collection    2005-01-01                     day
4                            Comedian    2008-12-15                     day

   total_tracks                track_id track_name_prev_y  \
0             2  5qljLQuKnNJf4F4vfxQB0V          track_14
1            13  3VAX2MJdmdqARLSU5hPMpm           track_3
2            12  0xZwriIAl9tEmACBOzEOk0           track_1
3             8  5IfcaplfQLazkRRyclKh18           track_2
4            12  0xZwriIAl9tEmACBOzEOk0           track_1

                                  uri_y type_y
0  spotify:album:0D3QufeCudpQANOR7luqdr  album
1  spotify:album:1bcqsH5UyTBzmh9YizdsBE  album
2  spotify:album:4tKijjmxGClg4JOLAyo2qE  album
3  spotify:album:6FeJF5r8roonnKraJxr4oB  album
4  spotify:album:4tKijjmxGClg4JOLAyo2qE  album

[5 rows x 48 columns]
(101939, 48)

In [27]:
# print(artists["name"].mode()) ## Haze and Sasha are the artists that appear the most in the dataset
# print(artists.sort_values(["artist_popularity", "name"], ascending=(False, False)).head(10)) ## Sort by the artists dataframe's 'artist_popularity' column from highest to lowest
popular_artists = artists[["artist_popularity", "name"]]
popular_artists
print(popular_artists.sort_values(by="artist_popularity", ascending=False).head(10)) ## Narrowed the columns down to just the 2 that were needed, for readability

       artist_popularity           name
42872                100  Ariana Grande
53392                 98          Drake
49775                 96    Post Malone
55822                 95   XXXTENTACION
49695                 95     Juice WRLD
53406                 95         Khalid
52306                 95          Ozuna
55502                 94      Bad Bunny
49320                 94   Travis Scott
39126                 94          Queen